* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffdd94;
    padding-bottom: 60px;
}

.welcome {
    font-size: 4vw;
    color: #000;
    margin: 20px auto;
    text-align: center;
}